.recipe {
  background-color: white;
  width: 100%;
  margin: 20px 0;
  border-radius: 30px;
  padding: 20px 50px;
  color: orange;
  border: 3px solid orange;
  box-shadow: 8px 8px 40px black;
  transition: all .4s;
  &:hover {
    transform: translateY(-8px);
    border: 3px solid #ff8000;
  }
  img {
    width: 200px;
  }
  button {
    background-color: orange;
    color: white;
    text-transform: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    box-shadow: none;
    &:hover {
      box-shadow: none;
      background-color: #ff8000;
    }
  }
}
